body {
  margin: 0;
  padding: 0;
  background: #f5f2e0;
  font-family: "SimHei", "Microsoft JhengHei", "Heiti SC", "PingFang SC",
    "Noto Sans CJK SC", sans-serif;
  position: relative;
}

.page-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("./src/image/background.png") center/cover; /* 本地背景图路径 */
  opacity: 0.2;
  z-index: -1;
}

#header {
  text-align: center;
  background: rgba(120, 30, 30, 0.8);
  color: #f5f2e0;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  padding: 0px 30px;
  border-radius: 20px;
  margin-top: 10px;
}

#header h1 {
  font-family: "ZCOOL QingKe HuangYou", sans-serif;
  font-size: 32px;
  font-weight: bold;
  margin: 15px 0;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#timeline {
  /* margin: 20px 0; */
  position: relative;
}

.clock-face {
  fill: rgba(255, 255, 255, 0.8);
  stroke: #781e1e;
  stroke-width: 3;
}

.pointer {
  stroke: #781e1e;
  fill: rgba(120, 30, 30, 0.8);
  stroke-width: 2;
  cursor: pointer;
  transition: transform 0.2s;
  /* transform: translate(0px, 20px); */
}

.event-dot {
  fill: #781e1e;
  cursor: pointer;
  stroke: #f5f2e0;
  stroke-width: 2;
}

.work-annotation {
  stroke: #09f;
}
.relation-annotation {
  stroke: #f90;
}

.annotation-text {
  font-size: 16px;
  fill: #333;
  text-anchor: middle;
}

.controls {
  margin: 10px 0;
}

.controls button {
  /* padding: 12px 25px; */
  margin: 5px;
  background: #781e1e;
  color: #f5f2e0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.controls button:hover {
  background: #9c2a2a;
  transform: translateY(-2px);
}

.controls button:active {
  transform: translateY(1px);
}

.controls svg {
  margin: 5px;
}

#info-panel {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 300px;
  background: rgba(245, 242, 224, 0.9);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-left: 5px solid #781e1e;
}

#info-panel h3 {
  margin-top: 0;
  color: #781e1e;
  border-bottom: 2px solid #781e1e;
  padding-bottom: 10px;
}

#info-panel p {
  line-height: 1.6;
  color: #333;
}

.quote {
  font-style: italic;
  padding: 10px;
  border-left: 3px solid #781e1e;
  background: rgba(120, 30, 30, 0.1);
  margin: 15px 0;
}

.timeline-event {
  margin: 15px 0;
  padding-left: 15px;
  border-left: 2px solid #9c2a2a;
}

.timeline-event h4 {
  margin: 5px 0;
  color: #781e1e;
}

.timeline-event p {
  margin: 5px 0;
  font-size: 0.95rem;
}

#video-area{
  position: absolute;
  top: 20px;
  left: 20px;
  width: 300px;
  background: rgba(245, 242, 224, 0.9);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-left: 5px solid #781e1e;
}

#myVideo {
  width: 100%;
}